/* Custom styles for RTL adjustments and specific elements */
.input-group-append .btn {
  border-top-left-radius: 0.5rem; /* Adjusted for RTL */
  border-bottom-left-radius: 0.5rem; /* Adjusted for RTL */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-prepend .btn {
  border-top-right-radius: 0.5rem; /* Adjusted for RTL */
  border-bottom-right-radius: 0.5rem; /* Adjusted for RTL */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
