<div class="container">
  <!-- Page Header -->
  <div class="page-header-custom d-flex align-items-center justify-content-between gap-3">
    <div>
      <div class="text-center">

        <h1 class="fs-1 fw-bold mb-1"><i class="fas fa-chalkboard-teacher fs-1"></i> الحلقات التي يدرسها المعلم</h1>
        <p class="fs-4 opacity-90">استعرض الحلقات التي تقوم بتدريسها</p>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2">
      <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addHalaqaModal"
      (click)="getNotAssignedHalaqas()">
      <i class="fas fa-plus"></i> إضافة حلقة للمعلم
    </button>
    <a [routerLink]="['/dashboard/teacher-list']" class="btn btn-outline-dark">
    الرجوع للقائمة المعلمين <i class="fas fa-arrow-left-long"></i> 
    </a>
    </div>
  </div>
  <!-- modal -->
  <div class="modal fade" id="addHalaqaModal" tabindex="-1" aria-labelledby="addHalaqaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h1 class="modal-title fs-5" id="addHalaqaModalLabel">إضافة حلقة</h1>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="addHalaqa(halaqaId)">
            <div class="mb-3">
              <label for="halaqaName" class="form-label">اسم الحلقة</label>
              <select class="form-select" id="halaqaName" name="halaqaName" [(ngModel)]="halaqaId">
                <option value="0" selected disabled>اختر الحلقة</option>
                @for (halaqa of notAssignedHalaqas; track $index) {
                <option value="{{ halaqa.id }}">{{ halaqa.name }}</option>
                }
              </select>
            </div>
            <div class="d-flex justify-content-end gap-2">
              <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal"
                #closeAddHalaqaModalBtn>إغلاق</button>
              <button type="submit" class="btn btn-primary">إضافة</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="halaqasContainer">
      <!-- Example Halaqa Card 1 -->
      @for (halaqa of halaqas; track halaqa.halaqaId) {
      <div class="col">
        <div class="card h-100 card-custom">
          <div class="card-body p-4">
            <h5 class="card-title-custom">
              {{ halaqa.halaqaName }}
            </h5>
            <p class="card-text">
              <span class="card-text-label">المادة: </span>
              <span class="card-text-value">{{ halaqa.subjectName }}</span>
            </p>
            <p class="card-text">
              <span class="card-text-label">المجموعة: </span>
              <span class="card-text-value">{{ halaqa.genderGroup }}</span>
            </p>
            <p class="card-text">
              <span class="card-text-label">الجدول الزمني: </span>
              <span class="card-text-value">الأحد، الثلاثاء، الخميس - 4:00 مساءً</span>
            </p>
            <div class="d-flex mt-3 gap-2 justify-content-between align-items-center">
              <div class="col-md-8">
                <a [routerLink]="['/join-halaqa', halaqa.liveCode]" class="btn btn-join-session py-2">
                  <i class="fas fa-video"></i>
                  بدء الجلسة
                </a>
              </div>
              <div class="col-md-4">
                <button class="btn btn-outline-danger py-2" (click)="removeHalaqa(halaqa.halaqaId)">
                  <i class="fas fa-trash"></i>
                  ازالة
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>